<div class="ihfo-btn"> 
  <a 
    mat-list-item href="https://metanit.com/web/angular2/5.4.php"
    target="_blank">
    <button mat-raised-button color="warn">NgForm</button>
  </a>
</div>
<br>
<form #myForm="ngForm" novalidate>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="введите имя" name="name" [(ngModel)]="name" required>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="введите email" name="email" [(ngModel)]="email" required email>
  </mat-form-field>
  <br>
  <button
      mat-raised-button
      color="primary"
      [disabled]="myForm.invalid"
      (click)="onSubmit(myForm)"
  >
      console.log
  </button>
  <br><br>
  <div>Имя: {{myForm.value.name}}</div>
  <div>Email: {{myForm.value.email}}</div>
</form>


