<div class="ihfo-btn">
  <a 
    mat-list-item href="https://medium.com/@maks.zhitlov/reactive-forms-in-angular-2f8abe884f79"
    target="_blank">
    <button mat-raised-button color="warn">Reactive Forms</button>
  </a>
</div>
<br>
<form [formGroup]="myForm" novalidate>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="nameFormControl.hasError('email') && !nameFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
      Введите правильно имя
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>

  <div formArrayName="phones">
    <div class="form-group" *ngFor="let phone of myForm.controls['phones']['controls']; let i = index">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phones" formControlName="{{i}}"
            [errorStateMatcher]="matcher">
      <mat-hint>Errors appear instantly!</mat-hint>
      <mat-error *ngIf="myForm.controls['phones']['controls'][i].hasError('minlength') && !myForm.controls['phones']['controls'][i].hasError('required')">
        Введите правильно номер
      </mat-error>

      <!-- ОБРАЩЕНИЕ
        myForm.controls['phones']['controls'][i].hasError('required')
        ИЛИ
        phones['controls'][i].hasError('required') 
      -->

      <mat-error *ngIf="phones['controls'][i].hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br><br>
    </div>
  </div>
  <br><br>

  <div class="form-group">
      <button
        style="margin-right: 10px"
        mat-raised-button
        color="primary"
        [disabled]="myForm.invalid"
        (click)="addPhone()"
      >
        Добавить телефон
      </button>

      <button
        mat-raised-button
        color="primary"
        [disabled]="myForm.invalid"
        (click)="onSubmit(myForm)"
      >
        Отправить
      </button>
  </div>
</form>